APP_ENV=development

#  Banco local (Docker Compose) 
# Suba com: docker compose up -d
DATABASE_URL=postgresql+asyncpg://postgres:admin@localhost:5432/sgopi


# Supabase
# DATABASE_URL =

# JWT 
JWT_SECRET_KEY=
JWT_EXPIRES_IN_HOURS=24

DISABLE_REQUEST_LIMITS=false
